.vscode
.VSCodeCounter

# meson
lib
build
subprojects/*
!subprojects/wrapdb.json
!subprojects/*.wrap
main

dev/lib
dev/externals
dev/subprojects/*
!dev/subprojects/wrapdb.json
!dev/subprojects/*.wrap
externals/include/boost

boost.zip

externals/libs/box2d-2.4.1/*
!externals/libs/box2d-2.4.1/meson.build
!externals/libs/box2d-2.4.1/src
externals/libs/box2d-2.4.1/src/*
!externals/libs/box2d-2.4.1/src/meson.build